
server:
  port: 8080
spring:
  application:
    name: accounts
  datasource:
    url: jdbc:mysql://localhost:3306/accountsdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    function:
      definition: updateCommunication
    stream:
      default-binder: rabbit
      bindings:
        # Consumer (Input) - Must use RabbitMQ
        updateCommunication-in-0:
          destination: communication-sent
          group: ${spring.application.name}
          binder: rabbit # Explicitly use RabbitMQ binder

        # Producer (Output to message-ms via RabbitMQ)
        sendCommunication-out-0:
          destination: send-communication
          binder: rabbit # Explicitly use RabbitMQ binder

        # Producer (Output to Kafka)
        publishAccountEvent-out-0:
          destination: accounts-topic-v1
          binder: kafka # Explicitly use Kafka binder


      kafka:
        binder:
          brokers:
            - kafka:9092
  #  datasource:
  #    url: jdbc:h2:mem:testdb
  #    driverClassName: org.h2.Driver
  #    username: sa
  #    password: ''
  #  h2:
  #    console:
  #      enabled: true
  #  jpa:
  #    database-platform: org.hibernate.dialect.H2Dialect
  #    hibernate:
  #      ddl-auto: update
  #    show-sql: true
  config:
    import:
      - "optional:configserver:http://configserver:8071/"
  profiles:
    active:
      - "dev"
  rabbitmq:
    host: rabbit
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s


management:
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  instance:
    preferIpAddress: true
    service-id: accounts
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/





info:
  app:
    name: "accounts"
    description: "Eazy Bank Related Accounts Microservice"
    version: "1.0.0"


logging:
  level:
    com:
      eazybank:
        accounts: DEBUG

  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"


resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

resilience4j.retry:
  configs:
    default:
      maxAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions:
        - java.lang.NullPointerException
      retryExceptions:
        - java.util.concurrent.TimeoutException

resilience4j.ratelimiter:
  configs:
    default:
      timeoutDuration: 1000
      limitRefreshPeriod: 5000
      limitForPeriod: 1

