server:
  port: 9000
spring:
  application:
    name: cards
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - "application_qa.yml"
      - "application_prod.yml"
  profiles:
    active:
      - "prod"

build:
  version: 3.0


cards:
  message: "Welcome to Eazy Bank Cards Related Local Development Api's"
  contactInfo:
    name: Karthik Kaliki - Developer
    email: karthikkaliki2000@gmail.com
    linkedin: https://www.linkedin.com/in/karthik-kaliki/
  onCallSupport:
    - "+91 9381173415"
    - "+91 9705389485"

  support-hours: "9 AM - 6 PM IST"
  active: true
